.detail-plant-img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
  margin: auto;
}

.detail-ul {
  vertical-align: center;
}

.detail-similar-img {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  margin: auto;
}

.detail-similar-name {
  text-align: center;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-prev:before {
  /* content: "<"; */
  color: green;
  font-size: 35px;
}

.slick-next:before {
  /* content: ">"; */
  color: green;
  font-size: 35px;
}