.home-content {
  height: 500px;
  /* background-image: url('https://www.nongsaro.go.kr/ps/img/curation/bigData_2021/20210929/images/picture13.jpg'); */
  background: url('../../../public/main_plant2.jpg');
  position: relative;
  /* background-color: rgba( 255, 255, 255, 0.5 ); */
  /* background-color: rgba(0, 0, 0); */
}
.home-content::before {
  content: "";
  opacity: 0.5;
  background-color: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.3;
}

@media screen and (min-width: 900px) {
  .home-content-img {
    width: 900px;
    height: 100%;
    display: block;
    object-fit: cover;
    /* opacity: 0.8; */
  }
}

.home-content-text {
  /* margin: 0px; */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  /* opacity: 1; */
}
.home-content-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  /* opacity: 1; */
}
/* .home-content-content {
  color: white;
} */

.home-plant-img {
  height: 180px;
  width: 180px;
  border-radius: 15px;
  margin: auto;
}

.home-plant-name {
  text-align: center;
  font-weight: bold;
}

.home-plant-title {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}
